{
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "node": true
    },
    "extends": [
        "airbnb",
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "parser": "babel-eslint",
    "parserOptions": {
        "allowImportExportEverywhere": true,
        "ecmaVersion": 8,
        "ecmaFeatures": {
            "classes": true,
            "jsx": true
        },
        "sourceType": "module"
    },
    "plugins": [
        "react"
    ],
    "rules": {
        "no-console": 0,
        "no-multi-spaces": 1,
        "no-multi-str": 2,
        "no-shadow": 1,
        "no-shadow-restricted-names": 1,
        "no-use-before-define": ["error", { "functions": false, "classes": false }],
        "array-bracket-spacing": 1,
        "eol-last": 1,
        "no-trailing-spaces": ["warn", { "skipBlankLines": true }],
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "import/no-extraneous-dependencies": 0
    }
}
