# OSX
#
.DS_Store

# node.js
#
node_modules/
npm-debug.log

# BUCK
static/

# VS Code
#
.vscode/
typings/

# Compiled files
#
lib/
es/
browser/

# babel external helpers
#
demo/src/external-helpers.js
