# OSX
#
.DS_Store

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
static/

# VS Code
#
.vscode/
typings/

# Compiled files
#
lib/
es/
types/
browser/
examples/src/lib
/dist
/styles.css

# Cache
#
/.cache
/.typescript-compile-cache
