body {
  background-color: rgb(25, 150, 139);
}

.title {
  margin-top: 80px;
  margin-bottom: 40px;
  font-size: 38px;
  text-align: center;
  font-family: 'Courier New', Menlo, Monaco, monospace;
}

.fixed-width {
  width: 300px;
  height: 500px;
  border-left: 4px solid green;
  border-right: 4px solid green;
  font-size: 40px;
  line-height: 100px;
  margin-left: auto;
  margin-right: auto;
}

.tag {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  color: rgb(250, 183, 52);
  text-align: center;
  font-family: 'Courier New', Menlo, Monaco, monospace;
}

.text {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  overflow: hidden;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.input {
  margin: auto;
  text-align: center;
}

.input textarea {
  width: 400px;
  height: 150px;
  background-color: rgb(25, 108, 104);
  padding: 10px;
  border-radius: 8px;
  resize: none;
}
