{
  "plugins": ["transform-class-properties", "transform-object-rest-spread", "react-hot-loader/babel"],
  "presets": [
    "react",
    ["latest", {
      "es2015": {
        "loose": true,
        "modules": false
      }
    }]
  ]
}
